click==7.1.2
Flask==1.1.2
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==1.0.0
MarkupSafe==1.1.1
numpy==1.19.4
scikit-learn==0.21.3
scipy==1.5.4
sklearn==0.0
threadpoolctl==2.1.0
Werkzeug==1.0.1
aniso8601==8.1.0
attrs==20.3.0
click==7.1.2
Flask==1.1.2
flask-restx==0.2.0
importlib-metadata==3.3.0
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==1.0.0
jsonschema==3.2.0
MarkupSafe==1.1.1
nltk==3.5
numpy==1.19.4
pyrsistent==0.17.3
pytz==2020.5
regex==2020.11.13
scikit-learn==0.21.3
scipy==1.5.4
six==1.15.0
sklearn==0.0
threadpoolctl==2.1.0
tqdm==4.55.0
typing-extensions==3.7.4.3
Werkzeug==1.0.1
zipp==3.4.0
